<!DOCTYPE HTML>

<html>
	<head>
		<title>About us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />
	</head>
	<body>

		<div class="page-wrap">

			<!-- Nav -->
				<nav id="nav">

				</nav>

			<!-- Main -->
				<section id="main">

					<!-- Header -->
						<header id="header">
							<div>Happy <span>Reading</span></div>
							<div><a href="{{url_for('users.login')}}">Home</a></div>
						</header>

					<!-- Section -->
						<section>
							<div class="inner">
								<header>
									<h1>What we aim to do here</h1>
								</header>
								<p>We provide you a platform to share and borrow books.Knowledge is something which increases the more you
									share it.<strong> So why wait? We have it here for you!</strong> Create your profile here and add the books
								you want to share and no longer need, along with the required details about the condition of the book.We shall assess
								it and set a price for the same.You can view your books in your own library and choose to buy books from our library.
								We have special premium packages namely Silver,Gold and Platinum with added advantages. You will et reward points based
								on your specific package once you buy a book. When you reach a specific reward point value, we gift you a book of
								your choice for free!</p>
								<h2>Why choose us</h2>
								<p>We at Virtual Library are aiming to do our bit to save our planet earth by brining down
									the level of deforestation.<strong>If we share our old books instead of buying new ones,
									we in a way can contribute to saving mother nature!</strong> Trees play a huge role in the carbon cycle. They convert the CO2 in the air to oxygen,
									through the process of photosynthesis, and in this way, they can be looked at as a natural regulator of the carbon dioxide.
									The more trees, the less carbon dioxide in the atmosphere and the more oxygen. Since we live in an age where carbon dioxide is
									very abundant in the atmosphere, released through man-made inventions,
									such as cars, factories, and power plants, it is vital, more than ever, that
									trees fulfill their part in the environment and take some of the excess carbon dioxide
									out of the air. Unfortunately, deforestation is preventing this job to be fully accomplished,
									and with half of all the Earth's forests gone, and four million trees cut down each year just for
									paper use, the amount of carbon dioxide is rising. With more carbon dioxide in the atmosphere, more of
									the sun's radiation is being reflected back to earth, instead of space, and this is causing our average
									temperature to rise. In this way, deforestation is a major issue when it comes to global warming.</p>
								<section class="columns double">
									<div class="column">
										<h3>Policy</h3>
										<p>
											Book quality should we as mentioned by you. <strong>If not, we shall return the same. </strong> Delivery time may vary
											as per location and occasions.
										</p>
									</div>
									<div class="column">
										<h3>Feedback</h3>
										<p>
											Leave us your valuable feedback.
											Your feedback is very important to us. <strong>Please let us know how we can serve you better.
										</strong>
											Please write to us at <li><a href="#"> sharedlibs@gmail.com </a></li>
										</p>
									</div>
								</section>
							</div>
						</section>



						</section>


				</section>
		</div>

		<!-- Scripts -->
			<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
			<script src="{{url_for('static',filename='js/jquery.poptrox.min.js')}}"></script>
			<script src="{{url_for('static',filename='js/jquery.scrolly.min.js')}}"></script>
			<script src="{{url_for('static',filename='js/skel.min.js')}}"></script>
			<script src="{{url_for('static',filename='jjs/util.js')}}"></script>
			<script src="{url_for('static',filename='js/main.js')}}"></script>

	</body>
</html>