<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">


    <title>Account</title>

</head>
<body id="body_sign">
    <style>
						#body_sign{
						background-image: url({{url_for('static',filename='images/library.jpg')}});
						background-size: cover;
						}

					</style>
    <header class="site-header">
      <div class="media">
        <div class="media-body">
          <h3 class="account-heading" style="color:#ffffff">Our Library</h3>
          <h6 class="account-heading" style="color:#ffffff">{{ current_user.username }}</h6>
        </div>
      </div>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          <div class="content-section">
              <table class="table table-striped table-bordered table-hover table-dark">
              <tr>
                <th scope="col">BookName</th>
                <th scope="col">Author</th>
                <th scope="col">Language</th>
                 <th scope="col">Price</th>
                  <th scope="col">Quality</th>
                  <th scope="col">Make it your own</th>
              </tr>
              {% for book in books.items %}
              <tr>

                <td>{{ book.bookname }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.language }}</td>
                 <td>{{ book.finalprice }}</td>
                  <td>{{book.quality_check}}</td>
                  <td><a href="/library/buybook/{{book.id}}" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#buyModal{{book.id}}">Buy now</a></td>

              </tr>
              {% endfor %}

              {% for book in books.items %}

              <div class="modal fade" id="buyModal{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="buyModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel">Buy Book?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                      <form action="{{url_for('books.buy_book',book_id=book.id)}}" method="POST">

                        <input class="btn btn-danger" type="submit" value="Buy">
                      </form>
                    </div>
                  </div>
                </div>
            </div>
              {% endfor %}
            </table>
            {% for page_num in books.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
              {% if page_num %}
                {% if books.page==page_num %}
                    <a class="btn btn-info mb-4" href="{{url_for('books.library',page=page_num)}}">{{page_num}}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{url_for('books.library',page=page_num)}}">{{page_num}}</a>
                {% endif %}
              {% else %}
                ...
              {% endif %}
          {% endfor %}
        </div>
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3 style="color:#ffffff">Actions</h3>
              <h5 style="color:#ffffff">Click below for more fun.</h5>
              <ul class="list-group">
                <a href="{{url_for('books.bookadd')}}" class="list-group-item list-group-item-light">Add Books</a>
                <a href="{{url_for('books.mylibrary')}}" class="list-group-item list-group-item-light">View your Library</a>
                <a href="{{url_for('books.library')}}" class="list-group-item list-group-item-light">Buy Books</a>
                <a href="{{url_for('users.profile')}}"  class="list-group-item list-group-item-light">Home Page</a>
			  	<a href="{{url_for('users.logout')}}" data-tag="logout" class="list-group-item list-group-item-light">Logout</a>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>